.copyright
    b 版权声明(by lycying@gmail.com)：
    p 复制文章的时候，把这一段也复制上吧。这里是Java面试指南，最全最前沿的面试题。大部分信息来自网络和书籍，整理加工而成，也有不少部分是作者自己的观点，一字一字打的，总之，可随意转载。要是能保留链接，感激不尽。如果你不希望被转载的文章不幸出现在这里，请留言告诉我，我换种说法 :)
p 扫描下面的二维码,加入微信公众号,得到最新的资料:
p
    img(src="/weixin.jpg",width="256px")
